Mark|markemail, /Users/mark/Sites/site
, /Users/mark/scripts/deploy/mn-search
Mark, /Users/mark/scripts/dreamobjects
, /Users/mark/scripts/git-viz
, /Users/mark/.bash_scripts
, /Users/mark/Repos/7425_dataexplorer